.TodoListMain{
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 100%;

}
.TodoList{
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    overflow-y: scroll;
    width: 95%;
    

}