.TodoButtomMain{
display: flex;
justify-content: center;
}

.TodoButtom{
    width: 56px;
    height: 56px;
    /* background: #646fd4; */
    background: #64c9d4;
    box-shadow: 1px 1px 4px rgba(0,0, 0, 0.25);
    border-radius: 56px;
    font-size: 30px;
    color: white;
}