:root{
  --primary: #242F9B;
  --secundary: #646FD4;
  --secundary_shades: #9BA3EB;
  --secundary_tins: #DBDFFD;
  --white: #FFFFFF;
  --background: #F6F6F6;
  --gray_tints: #E7E7E7;
  --gray_shades: #888888;
  --grey_middle: #CCCCCC;
  --black: #363636;
  --gradiante: radial-gradient(182.5% 182.5% at 120% -82.5%, rgba(255, 255, 255, 0) 0%, #646FD4 97.09%);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Titillium Web', sans-serif;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
