*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-family: 'Titillium Web', sans-serif;
}
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
